<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/datatables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/bootstrap-custom.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/datatables-custom.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/sweetalerts2-custom.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/style.css' %}">
</head>

<body>
    <div class="d-flex">
        <div class="sidebar">
            <ul class="nav-links">
                <li class="d-flex justify-content-between align-items-center nav-header">
                    <img class="brand-logo" src="{% static 'custom/img/logo.svg' %}">
                    <i class='bx bx-menu-alt-right menu-icon' id="nav-menu-btn"></i>
                </li>
                <li class="nav-item">
                    <div class="d-flex flex-column align-items-center profile">
                        <img class="profile-image" src="{% static 'custom/img/profile.png' %}">
                        <span class="profile-name">{{ request.user.username }}</span>
                    </div>
                </li>
                <li class="nav-item" id="link-2">
                    <a class="d-flex align-items-center nav-link" href="{% url 'listeners' %}" class="nav-link">
                        <i class="bx bx-music nav-icon"></i>
                        <span class="nav-text">Listeners</span>
                    </a>
                </li>
                <li class="nav-item" id="link-3">
                    <a class="d-flex align-items-center nav-link" href="{% url 'connections-all' %}" class="nav-link">
                        <i class="bx bx-planet nav-icon"></i>
                        <span class="nav-text">Connections</span>
                    </a>
                </li>
                <li class="nav-item" id="link-4">
                    <a class="d-flex align-items-center nav-link" href="{% url 'machines-all' %}" class="nav-link">
                        <i class="bx bx-desktop nav-icon"></i>
                        <span class="nav-text">Machines</span>
                    </a>
                </li>
                {% if request.session.is_admin %}
                <li class="nav-item">
                    <a class="d-flex align-items-center nav-link" href="{% url 'team-control' %}" class="nav-link">
                        <i class="bx bx-log-in-circle nav-icon"></i>
                        <span class="nav-text">Admin Mode</span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item nav-logout" data-logout-url="{% url 'logout' %}" onclick="confirmLogout();">
                    <button class="d-flex align-items-center nav-link" class="nav-link">
                        <i class="bx bx-log-out nav-icon"></i>
                        <span class="nav-text">Logout</span>
                    </button>
                </li>
            </ul>
        </div>
        <script src="{% static 'vendor/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/sweetalerts2.min.js' %}"></script>
        <script src="{% static 'custom/js/script.js' %}"></script>
        {% block content %}
        {% endblock content %}
    </div>
</body>

<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/datatables/js/datatables.min.js' %}"></script>

</html>