{% extends 'base_auth.html' %}

{% block content %}

<head>
    {% load static %}
    <title>Falcon C2 | Reset Password</title>
</head>

{% if success %}
<script>
    Swal.fire(
        'Success!',
        '{{success}}',
        'success'
    ).then((result) => {
        window.location.href = "{% url 'login' %}";
    });
</script>
{% endif %}

{% if error %}
<script>
    Swal.fire(
        'Oops!',
        '{{error}}',
        'error'
    )
</script>
{% endif %}

{% if error_invalid_token %}
<script>
    Swal.fire(
        'Oops!',
        '{{error_invalid_token}}',
        'error'
    ).then((result) => {
        window.location.href = "{% url 'login' %}";
    });
</script>
{% endif %}

<div class="brand">
    <img class="brand-logo" src="{% static '/custom/img/logo.svg' %}">
</div>
<div class="login">
    <div class="form-title">Reset Password</div>
    <form class="login-form" action="" method="post">
        {% csrf_token %}
        <div class="input-group">
            <div class="input-group-text">
                <i class="bx bx-user"></i>
            </div>
            <input class="form-control" type="text" name="username" placeholder="Username" value="{{username}}" readonly
                required>
        </div>
        <div class="input-group">
            <div class="input-group-text">
                <i class="bx bx-key"></i>
            </div>
            <input class="form-control" type="password" name="password" placeholder="Password" minlength="8" required>
        </div>
        <div class="input-group">
            <div class="input-group-text">
                <i class="bx bx-key"></i>
            </div>
            <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password"
                minlength="8" required>
        </div>
        <button class="btn btn-main w-100 mb-0" type="submit">Save Changes</button>
    </form>
</div>

{% endblock content %}